.icon{
    width: 80px;
    height: 70px;
   
}
.painel{
    height: 70%;
    width: 100%;
    border: solid;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red, yellow); 
}

.crd{
    display: block;
    margin: 0px auto;
    width: 97%;
    height: 480px;
    margin-top: 15px;
}

.tm{
    height: 80px;
}
h2{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 500;
     

}
.img{
    position: relative;
    left: 90px;
    width: 300px;
    height: 200px;

}
.painel1{   
    float: right;
    position: relative;
    left: 90px;
    bottom: 243px;
    margin: 0px 0;
    padding: 10px;
    width: 470px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
    background-color: lightsteelblue;
}
.painel1 li {
    display: inline-block;
    vertical-align: text-bottom;
    width: 300px;
    margin:14px;
    padding-bottom: 10px;
}
figcaption{
    text-align: left;
}