.icon{
    width: 80px;
    height: 70px;
   
}


.tm{
    height: 80px;
}
h2{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 500;
     

}